*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#ccc;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.country-card {
    border: solid 1px black;
    width: 200px;
    min-height: 100px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
}